body {
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 700px) {
  body {
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  h1 {
    font-size: 60px;
  }
}